<h1 class="display-4 pb-2 my-2 border-bottom">
  My Batch Job
</h1>

<p>
  <strong>Project:</strong>
  <%= @job.project %>
</p>

<p>
  <strong>Param1:</strong>
  <%= @job.param1 %>
</p>

<p>
  <strong>Param2:</strong>
  <%= @job.param2 %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @job.notes %>
</p>
